@import url("https://fonts.googleapis.com/css2?family=Margarine&display=swap");
body {
  margin: 0;
  font-family: Margarine, sans-serif;
  color: aliceblue;
  background-color: #223b64;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: wheat;
}

a:hover {
  opacity: 1;
}

p {
}

.container {
}
